body { margin: 0; padding: 0;font-family: 'Lato', sans-serif;}
header.navbar{margin-bottom:0;}
.container{padding:0;width:100%;}
.navbar{background:#f8c74c;}
.navbar-collapse{ padding-left: 21px; padding-right: 21px;}

h1{font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif}
section#intro{background:#3da1c6;height:10000px;}
.iphone-cover{display: block; height: auto; max-width: 100%;width:50%;}

#easing{top:10%;width:90%;z-index:101;}

